{% extends "layout.html" %} {% block title %} General {% endblock %} 

{% block main %}
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">Chat general</nav>
    <ul id="tasks">
        <li></li>
        <li></li>
    </ul>
    <form id="new-task" onsubmit="return false;">
        <input id="task" autocomplete="off" autofocus placeholder="Escribe algo" type="text">
        <button id="submit" type="submit" onclick="sendMessage()">Enviar</button>
    </form>
</div>
{% endblock %} 