{% extends "layout.html" %} {% block title %} General {% endblock %} 

{% block main %}
<div>
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid justify-content-md-center">
            <span class="navbar-brand mb-0 h1 text-center" onclick="joinRoom('general');">General <i class='bx bx-home bx-tada' ></i></span>
            <div class="justify-content-lg-end">
                <span id="userSpan" style="color: white;">Hola soy</span>
            </div>
        </div>
      </nav>
    <ul id="tasks">
        <li></li>
        <li></li>
    </ul>
    <form id="new-task" onsubmit="return false;">
        <input id="task" autocomplete="off" autofocus placeholder="Escribe algo" type="text">
        <button id="submit" type="submit" onclick="sendMessage()"><i class='bx bx-send bx-spin-hover'></i></button>
    </form>
</div>


{% endblock %} 