<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/nav-styles.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/css/chat-styles.css">
    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg" crossorigin="anonymous"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
    <link rel="manifest" href="../static/images/site.webmanifest">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
        <i class='bx bx-chat icon'></i>
        <div class="logo_name">Flack</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list" id="nav-list">
      <li>
          <i class='bx bx-search' ></i>
         <input type="text" placeholder="Search...">
         <span class="tooltip">Search</span>
      </li>
      <li>
        <a href="#" onclick="joinRoom('General');">
          <i class='bx bx-home-alt'></i>
          <span class="links_name">General</span>
        </a>
         <span class="tooltip">General</span>
      </li>
      {% for channel in li %}
      <div id="nav-chan">
        <li>
          <a href="#" class="user-made" onclick="joinRoom('{{channel.name}}');">
            <i class='bx bx-group'></i>
            <span class="links_name">{{channel.name}}</span>
          </a>
           <span class="tooltip">{{channel.name}}</span>
        </li>
      </div>
      {% endfor %}
      <li>
       <a href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <i class='bx bx-plus-circle' ></i>
         <span class="links_name">New Channel</span>
       </a>
       <span class="tooltip">New Channel</span>
     </li>
    
     <li>
         <a href="/login" onclick="logOut()">
             <i class='bx bx-log-out' id="log_out" ></i>
             <span class="links_name">Log Out</span>
         </a>
         <span class="tooltip">Log Out</span>
     </li>
    </ul>
  </div>
  <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Agregar Nuevo Canal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form method="POST" action="/" onsubmit="newCanal(); return false;">
        <div class="modal-body">
          
            <div class="mb-3">
              <label class="col-form-label">Nombre Canal:</label>
              <input type="text" id="channel" name="channel" class="form-control">
            </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar <i class='bx bxs-x-circle'></i></button>
          <input type="submit" class="btn btn-success" id="newChannel" value="Agregar"></input>
        </div>
      </form>

    </div>
  </div>
</div>
  <section class="home-section">
      {% block main %}{% endblock %}
      <!-- Button trigger modal -->
  </section>
  
  <script>
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");

  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    menuBtnChange();//calling the function(optional)
  });

  searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
    sidebar.classList.toggle("open");
    menuBtnChange(); //calling the function(optional)
  });

  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
   if(sidebar.classList.contains("open")){
     closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
   }else {
     closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
   }
  }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="../static/js/index.js"></script>
</body>
</html>
